{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if etherpad_container_labels_traefik_enabled %}
traefik.enable=true

{% if etherpad_container_labels_traefik_docker_network %}
traefik.docker.network={{ etherpad_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if etherpad_container_labels_middleware_basic_auth_enabled %}
{% set middlewares = middlewares + [etherpad_identifier + '-basic-auth'] %}
traefik.http.middlewares.{{ etherpad_identifier }}-basic-auth.basicauth.users={{ etherpad_container_labels_middleware_basic_auth_users }}
{% endif %}

{% if etherpad_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ etherpad_identifier }}-slashless-redirect.redirectregex.regex=^({{ etherpad_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ etherpad_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [etherpad_identifier + '-slashless-redirect'] %}
{% endif %}

{% if etherpad_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ etherpad_identifier }}-strip-prefix.stripprefix.prefixes={{ etherpad_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [etherpad_identifier + '-strip-prefix'] %}
{% endif %}

{% if etherpad_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in etherpad_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ etherpad_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [etherpad_identifier + '-add-request-headers'] %}
{% endif %}

{% if etherpad_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in etherpad_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ etherpad_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [etherpad_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ etherpad_identifier }}.rule={{ etherpad_container_labels_traefik_rule }}
{% if etherpad_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ etherpad_identifier }}.priority={{ etherpad_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ etherpad_identifier }}.service={{ etherpad_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ etherpad_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ etherpad_identifier }}.entrypoints={{ etherpad_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ etherpad_identifier }}.tls={{ etherpad_container_labels_traefik_tls | to_json }}
{% if etherpad_container_labels_traefik_tls %}
traefik.http.routers.{{ etherpad_identifier }}.tls.certResolver={{ etherpad_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ etherpad_identifier }}.loadbalancer.server.port={{ etherpad_container_http_port }}

{% if etherpad_container_labels_traefik_metrics_enabled %}
########################################################################
#                                                                      #
# Metrics                                                              #
#                                                                      #
########################################################################

{% set middlewares = etherpad_container_labels_traefik_metrics_middlewares %}

{% if etherpad_container_labels_traefik_metrics_middleware_basic_auth_enabled %}
traefik.http.middlewares.{{ etherpad_identifier }}-metrics-basic-auth.basicauth.users={{ etherpad_container_labels_traefik_metrics_middleware_basic_auth_users }}
{% set middlewares = middlewares + [etherpad_identifier + '-metrics-basic-auth'] %}
{% endif %}

traefik.http.middlewares.{{ etherpad_identifier }}-metrics-replace-path.replacepath.path=/stats/prometheus
{% set middlewares = middlewares + [etherpad_identifier + '-metrics-replace-path'] %}

traefik.http.routers.{{ etherpad_identifier }}-metrics.rule={{ etherpad_container_labels_traefik_metrics_rule }}

{% if etherpad_container_labels_traefik_metrics_priority | int > 0 %}
traefik.http.routers.{{ etherpad_identifier }}-metrics.priority={{ etherpad_container_labels_traefik_metrics_priority }}
{% endif %}

traefik.http.routers.{{ etherpad_identifier }}-metrics.service={{ etherpad_identifier }}-metrics

{% if middlewares | length > 0 %}
traefik.http.routers.{{ etherpad_identifier }}-metrics.middlewares={{ middlewares | join(',') }}
{% endif %}

traefik.http.routers.{{ etherpad_identifier }}-metrics.entrypoints={{ etherpad_container_labels_traefik_metrics_entrypoints }}

traefik.http.routers.{{ etherpad_identifier }}-metrics.tls={{ etherpad_container_labels_traefik_metrics_tls | to_json }}
{% if etherpad_container_labels_traefik_metrics_tls %}
traefik.http.routers.{{ etherpad_identifier }}-metrics.tls.certResolver={{ etherpad_container_labels_traefik_metrics_tls_certResolver }}
{% endif %}

traefik.http.services.{{ etherpad_identifier }}-metrics.loadbalancer.server.port={{ etherpad_container_metrics_port }}

########################################################################
#                                                                      #
# /Metrics                                                             #
#                                                                      #
########################################################################
{% endif %}

{% endif %}

{% for arg in etherpad_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
